.Items {
    background-color: #FFFFFF;
}
.Title {
    font-size: 14px;
    font-weight: 700;
    margin-left: 34px;
    margin-top: 19px;
    margin-bottom: -7px;
}
.Total {
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 299px;
}
.Preloader {
    margin-top: 100px ;
    text-align: center;
}