.Navbar {
    background-color: #BDBDBD;
}

.SortButton {
    display: block;
    background-color: #4B51EF;
    color: #FFFFFF;
    margin-left: 20.27px;
    border-radius: 5px;
    margin-top: 10.05px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 5.02px 15.02px;
}

.Sort {
    margin-top: 35.17px;
    margin-left: 20.27px;
    font-size: 12px;
    font-weight: 400;
}